yandex-music
yay
xsettingsd
wal
vlc
todoist
session
pulse
obsidian
obs-studio
mirage
matplotlib
libreoffice
kdeconnect
kde.org
nautilus
go
gh
eww
dconf
Code
btop
Bitwarden
baloofileinformationrc
zen-themes-export.json
dolphinrc
okularrc
filetypesrc
kconf_updaterc
kdeglobals
kiorc
trashrc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
yandex-music.conf
QtProject.conf
ktrashrc
kactivitymanagerdrc
mimeapps.list
okularpartrc
kservicemenurc
user-dirs.localeW
spine
Trolltech.conf
gtkrc
gtkrc-2.0
waybar
kdedefaults
nwg-dock-hyprland
